cog
dlib
lmdb
matplotlib
mc
numpy
opencv_python_headless
ptflops
pytorch_lightning
PyYAML
requests
scikit_image
scipy
setuptools
skimage
torch
torchmetrics
torchvision
tqdm
wand
addict
future
tb-nightly
yapf